@use './partials/reset' as *;
@use './partials/sizes' as *;
@use './partials/colors' as *;

@mixin circle {
	width: 100px;
	height: 100px;
	margin: 30px auto;
	background-color: $circle-color;
	border: 3px solid $border-color;
	border-radius: 50%;
}

html {
	font-size: 10px;
}
body {
	background-color: #333;
	font-family: sans-serif;
}

section {
	height: $height;
	width: $width;
	text-align: center;
	h1 {
		color: $h-color;
	}
	h2 {
		color: $h-color;
	}
	h3 {
		color: $h-color;
	}
}
.odd {
	background-color: $color-dark;
}
.even {
	background-color: $color-light;
}
